<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="modo-kiosco"
    version="1.0.0">
    <name>Modo kiosko</name>
    <description>Aplicaciones Modo kiosco</description>
    <license>apache 2.0</license>
    <keywords></keywords>
    <repo>https://github.com/thecouk/dsalazar4446/modo-kiosco.git</repo>
    

    <!-- android -->
    <platform name="android">
      <js-module src="www/modo-kiosco.js" name="modo-kiosco">
        <runs/>

        <!-- Este es el nombre por el cual se accedera el plugin -->
        <clobbers target="ModoKiosco" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="ModoKiosco">
          <param name="android-package" value="com.dsalazar4446.ModoKiosco" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> 
        <uses-permission android:name="android.permission.WAKE_LOCK" />
        <uses-permission android:name="android.permission.GET_TASKS"/>
        <receiver android:name=".BootReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name=".KioskService" android:exported="false"/>
        <application android:name=".AppContext" android:icon="@drawable/ic_launcher" android:label="@string/app_name">
      </config-file>

      <source-file src="src/android/com/dsalazar4446/ModoKiosco.java" target-dir="src/com/dsalazar4446/" />
      <source-file src="src/android/com/dsalazar4446/BootReceiver.java" target-dir="src/com/dsalazar4446/" />
      <source-file src="src/android/com/dsalazar4446/AppContext.java" target-dir="src/com/dsalazar4446/" />
      <source-file src="src/android/com/dsalazar4446/OnScreenOffReceiver.java" target-dir="src/com/dsalazar4446/" />
      <source-file src="src/android/com/dsalazar4446/KioskService.java" target-dir="src/com/dsalazar4446/" />
      
    </platform>

    <!-- ios 
     <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="ModoKiosco" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="ModoKiosco">
                <param name="ios-package" value="ModoKiosco" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/ModoKiosco.h" />
        <source-file src="src/ios/ModoKiosco.m" />
    </platform> -->
</plugin>
